NODE_ENV=development
PORT=3000
TOKEN=YOUR_SECRET_TOKEN
ENABLE_PROXIES_CRUD=true
ENABLE_METRICS_ROUTER=true
ENABLE_SWAGGER=true
DATABASE_DRIVER=lowdb
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DATABASE=proxies
